<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receptionist Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Receptionist Login</h1>
        <form id="receptionistLoginForm" action="receptionist_dashboard.html" method="post">
            <input type="text" id="receptionistLoginID" name="loginID" placeholder="Login-ID" required>
            <input type="password" id="receptionistPassword" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="index.html" onclick="openTab(event, 'Receptionist')">Register here</a></p>
        </form>
    </div>
</body>
</html>
